<section>
  <img src="./assets/angular.png" width="80px" alt="angular-logo" />
  <hr/>

  <span class="spacing">
    <h1>Reactive Form (Form Control)</h1>
    <pre style="border: 1px solid #333; padding: 5px;">
      {{ reactiveForm.value | json }}
    </pre>

    <form [formGroup]="reactiveForm">
      <soma-input
        label="Nome"
        name="name"
        inputId="name"
        formControlName="name">
      </soma-input>

      <soma-input
        label="Idade"
        name="age"
        inputId="age"
        formControlName="age">
      </soma-input>

      <soma-button type="submit" (soma-click)="onSubmitReactiveForm()">enviar</soma-button>
    </form>
  </span>

  <br/><hr/><br/>

  <span class="spacing">
    <h1>Template Driven Form (Two Way Data Binding)</h1>
    <pre style="border: 1px solid #333; padding: 5px;">
      {{ templateDrivenModel | json }}
    </pre>

    <form #templateDrivenForm="ngForm">
      <soma-input
        label="Nome"
        name="name"
        inputId="name"
        [(ngModel)]="templateDrivenModel.name">
      </soma-input>

      <soma-input
        label="Idade"
        name="age"
        inputId="age"
        [(ngModel)]="templateDrivenModel.age">
      </soma-input>

      <soma-button type="submit" (soma-click)="onSubmitTemplateDrivenForm()">enviar</soma-button>
    </form>
  </span>

</section>