<section>
  <h1 class="page-title">Angular</h1>
  <hr/>
  <span class="spacing">
    <legods-button (buttonClick)="handleClick($event)">Default</legods-button>
  </span>
  <span class="spacing">
    <legods-button variant="primary" (buttonClick)="handleClick($event)">Primary</legods-button>
  </span>
  <span class="spacing">
    <legods-button variant="secondary" (buttonClick)="handleClick($event)">Secondary</legods-button>
  </span>
  <span class="spacing">
    <legods-button variant="tertiary" (buttonClick)="handleClick($event)">Tertiary</legods-button>
  </span>
  <span class="spacing">
    <legods-button variant="dark" (buttonClick)="handleClick($event)">Dark</legods-button>
  </span>

  <h3 class="section-title">Flat Buttons</h3>
  <section>
    <span class="spacing">
      <legods-button flat (buttonClick)="handleClick($event)">Default</legods-button>
    </span>
    <span class="spacing">
      <legods-button flat (buttonClick)="handleClick($event)" variant="primary">Primary</legods-button>
    </span>
    <span class="spacing">
      <legods-button flat (buttonClick)="handleClick($event)" variant="secondary">Secondary</legods-button>
    </span>
    <span class="spacing">
      <legods-button flat (buttonClick)="handleClick($event)" variant="tertiary">Tertiary</legods-button>
    </span>
    <span class="spacing">
      <legods-button flat (buttonClick)="handleClick($event)" variant="dark">Dark</legods-button>
    </span>
  </section>

  <h3 class="section-title">Disabled Button</h3>
  <section>
    <span class="spacing">
      <legods-button (buttonClick)="handleClick($event)" flat variant="primary" disabled>disabled flat button</legods-button>
    </span>
    <span class="spacing">
      <legods-button (buttonClick)="handleClick($event)" variant="primary" disabled>disabled button</legods-button>
    </span>
  </section>

  <h3 class="section-title">Full Width Button</h3>
  <section>
    <span class="spacing">
      <legods-button (buttonClick)="handleClick($event)" flat full>Full width flat button</legods-button>
    </span>
    <span class="spacing">
      <legods-button (buttonClick)="handleClick($event)" full>Full with button</legods-button>
    </span>
  </section>

  <h3 class="section-title">Self Styled Button</h3>
  <section>
    <span class="spacing">
      <legods-button 
        [styles]="styledButton"
        aria-label="Button with customizable style (pink color) and a11y attributes"
        (buttonClick)="handleClick($event)">
        Styled Button
      </legods-button>
    </span>
  </section>
</section>