:host {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: fit-content;
}

.legods-input {
  position: relative;
  width: fit-content;
  padding: 10px 16px;

  width: 100px;
  height: 200px;
  background: #ddd;
}
